.column-33{
    float: center;
    width: 33.33%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.column-25{
    width: 25%;
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
